In [193]:
import matplotlib.pyplot as plt
import pandas as pd
from pathlib import Path

In [194]:
df = pd.read_csv(Path('./Resources/Bonk_Test2.csv'))
df.head()

,Age,Gender,Pace_5k,Pace_10k,Pace_15k,Pace_20k,Pace_25k,Pace_30k,Pace_20k_25k,Bonked?
0,18,1,11.00,10.46,9.56,8.96,8.31,7.84,8.62,0
1,18,1,9.32,9.68,7.96,8.75,8.93,8.80,8.84,0
2,18,1,9.28,9.45,9.26,9.57,9.10,9.33,9.33,0
3,18,1,10.71,10.45,10.45,10.30,9.64,9.58,9.96,0
4,18,1,9.97,10.11,9.94,10.16,9.80,9.82,9.98,0

In [195]:
y = df["Bonked?"]
X = df.drop(["Bonked?"], axis=1)

In [196]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y, 
                                                    stratify=y)

X_train.shape

(19757, 9)

In [199]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=1000)

In [200]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [201]:
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

       Prediction  Actual
9214            0       0
13120           0       0
21636           0       0
5865            0       0
2594            0       0
...           ...     ...
13751           0       0
10225           0       0
21223           0       0
13229           0       0
11221           0       0

[6586 rows x 2 columns]

In [202]:
from sklearn.metrics import accuracy_score
print("Accuracy score")
print(accuracy_score(y_test, y_pred))

Accuracy score
0.7787731551776496

In [203]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)

matrix_df = pd.DataFrame(matrix, 
                         index=["Actual No Bonk", "Actual Bonk"], 
                         columns=["Predicted No Bonk", "Predicted Bonk"])

matrix_df

                Predicted No Bonk  Predicted Bonk
Actual No Bonk               5036             715
Actual Bonk                   742              93

In [204]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.87      0.88      0.87      5751
           1       0.12      0.11      0.11       835

    accuracy                           0.78      6586
   macro avg       0.49      0.49      0.49      6586
weighted avg       0.78      0.78      0.78      6586