The purpose of this file/notebook is to clean/preprocess the datasets.

Each dataset is imported, column data types are converted as needed, rows with invalid values are removed, unneeded columns are removed, etc. Then cleaned datasets are exported to a new folder.

In [1]:
# import dependencies
import pandas as pd
from datetime import datetime as dt
import time

In [2]:
# read in csv files

file_path = "Resources/"
marathon_2015_df = pd.read_csv(f"{file_path}marathon_results_2015.csv")
marathon_2015_df

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1
1,1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2
2,2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3
3,3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4
4,4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26593,26593,25656,"Prescott, Francine J.",64,F,Boynton Beach,FL,USA,NaN,MI,...,4:25:53,5:19:44,6:17:19,7:13:34,0:17:31,-,7:38:56,26594,12015,269
26594,26594,31359,"Emerson, Annette C.",61,F,Old Town,ME,USA,NaN,NaN,...,4:32:44,5:31:58,6:28:56,7:26:19,0:17:59,-,7:51:30,26595,12016,270
26595,26595,25559,"Cerveny, Nona",66,F,Scottsdale,AZ,USA,NaN,NaN,...,4:33:51,5:38:56,6:38:51,7:36:18,0:18:18,-,7:59:33,26596,12017,91
26596,26596,29396,"Buccilli, Alfred P.",53,M,Lynnfield,MA,USA,NaN,NaN,...,4:29:20,5:31:11,6:33:35,7:35:38,0:18:20,-,8:00:37,26597,14580,2055
26597,26597,25651,"Reilly, William",62,M,Kew Garden,NY,USA,NaN,MI,...,4:36:06,5:43:44,6:51:31,7:41:28,0:18:33,-,8:06:01,26598,14581,898

In [3]:
marathon_2016_df = pd.read_csv(f"{file_path}marathon_results_2016.csv")
marathon_2016_df

,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 8,5K,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,5,"Hayle, Lemi Berhanu",21,M,Addis Ababa,NaN,ETH,NaN,NaN,0:15:47,...,1:19:15,1:34:17,1:50:24,2:05:59,0:05:04,2:12:45,2:12:45,1,1,1
1,1,"Desisa, Lelisa",26,M,Ambo,NaN,ETH,NaN,NaN,0:15:47,...,1:19:15,1:34:17,1:50:24,2:05:59,0:05:06,2:13:32,2:13:32,2,2,2
2,6,"Tsegay, Yemane Adhane",31,M,Addis Ababa,NaN,ETH,NaN,NaN,0:15:46,...,1:19:15,1:34:45,1:50:48,2:06:47,0:05:07,2:14:02,2:14:02,3,3,3
3,11,"Korir, Wesley",33,M,Kitale,NaN,KEN,NaN,NaN,0:15:46,...,1:19:16,1:34:45,1:50:48,2:06:47,0:05:07,2:14:05,2:14:05,4,4,4
4,14,"Lonyangata, Paul",23,M,Eldoret,NaN,KEN,NaN,NaN,0:15:46,...,1:19:18,1:34:46,1:51:30,2:08:11,0:05:11,2:15:45,2:15:45,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26625,31985,"Weidenkeller, Tina M.",46,F,Rossmoor,CA,USA,NaN,NaN,0:47:03,...,4:27:32,5:24:12,6:29:20,-,0:17:51,7:47:56,7:47:56,26625,12164,1900
26626,26218,"Marseilles, Jami E.",47,F,Huntington Beach,CA,USA,NaN,MI,0:47:04,...,4:27:33,5:24:12,6:29:21,7:25:15,0:17:51,7:47:56,7:47:56,26626,12165,1901
26627,29403,"Ganem, William J.",39,M,Reedsburg,WI,USA,NaN,MI,0:42:22,...,4:25:53,5:29:27,6:42:04,7:54:21,0:19:13,8:23:27,8:23:27,26627,14462,4801
26628,30690,"Farler, Daryl R.",35,M,Franklin,TN,USA,NaN,MI,0:35:58,...,4:07:15,5:27:59,6:49:51,7:59:12,0:19:17,8:25:09,8:25:09,26628,14463,4802
26629,28487,"Haslet, Adrianne K.",35,F,Boston,MA,USA,NaN,MI,0:44:52,...,-,7:36:38,-,-,0:24:30,10:42:16,10:30:23,26629,12166,5946

In [4]:
marathon_2017_df = pd.read_csv(f"{file_path}marathon_results_2017.csv")
marathon_2017_df

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,11,"Kirui, Geoffrey",24,M,Keringet,NaN,KEN,NaN,NaN,...,1:16:59,1:33:01,1:48:19,2:02:53,0:04:57,-,2:09:37,1,1,1
1,1,17,"Rupp, Galen",30,M,Portland,OR,USA,NaN,NaN,...,1:16:59,1:33:01,1:48:19,2:03:14,0:04:58,-,2:09:58,2,2,2
2,2,23,"Osako, Suguru",25,M,Machida-City,NaN,JPN,NaN,NaN,...,1:17:00,1:33:01,1:48:31,2:03:38,0:04:59,-,2:10:28,3,3,3
3,3,21,"Biwott, Shadrack",32,M,Mammoth Lakes,CA,USA,NaN,NaN,...,1:17:00,1:33:01,1:48:58,2:04:35,0:05:03,-,2:12:08,4,4,4
4,4,9,"Chebet, Wilson",31,M,Marakwet,NaN,KEN,NaN,NaN,...,1:16:59,1:33:01,1:48:41,2:05:00,0:05:04,-,2:12:35,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26405,26405,25166,"Steinbach, Paula Eyvonne",61,F,Ontario,CA,USA,NaN,MI,...,4:12:06,5:03:08,5:55:18,6:46:57,0:16:24,-,7:09:39,26407,11972,344
26406,26406,25178,"Avelino, Andrew R.",25,M,Fayetteville,NC,USA,NaN,MI,...,3:50:19,4:50:01,5:53:48,6:54:21,0:16:40,-,7:16:59,26408,14436,4774
26407,26407,27086,"Hantel, Johanna",57,F,Malvern,PA,USA,NaN,NaN,...,4:15:21,5:06:37,6:00:33,6:54:38,0:16:47,-,7:19:37,26409,11973,698
26408,26408,25268,"Reilly, Bill",64,M,New York,NY,USA,NaN,MI,...,4:06:10,5:07:09,6:06:07,6:56:08,0:16:49,-,7:20:44,26410,14437,1043
26409,26409,25266,"Rigsby, Scott",48,M,Alpharetta,GA,USA,NaN,MI,...,4:27:14,5:37:13,6:39:07,7:41:23,0:18:15,-,7:58:14,26411,14438,2553

In [5]:
# function to convert columns from string to datetime

def to_time(df_col):
    # for each item in the column, append yymmdd, to string, then convert to datetime
    time_df_col=[]
    yymmdd='04/20/15'

    for item in df_col:
        # add the yymmdd to the hhmmss string
        full_date=f"{yymmdd} {item}"
        
        # try to convert string to datetime, if theres an error, replace item with "-"
        try:
            # convert to datetime, then append to the time_df_col
            time_df_col.append(dt.strptime(full_date, '%m/%d/%y %H:%M:%S'))
        except ValueError:
            #time_df_col.append("error")
            time_df_col.append("-")
            
    # return the converted column
    return time_df_col

In [6]:
def to_minutes(df_col):
    df_col_minutes=[]
    # for each item in the column
    for item in df_col:
        # extract the hour, minute, second
        h, m, s = item.split(":")
        
        # convert to int
        h=int(h)
        m=int(m)
        s=int(s)
        
        # calculate the minutes, round to 2 decimal places
        minutes=round(m+h*60+s/60, 2)
        
        # append to new col
        df_col_minutes.append(minutes)

    return df_col_minutes

In [7]:
def to_int(df_col):
    df_col_int=[]
    
    # for each value in the column
    for item in df_col:
        #convert to int
        item=int(item)
        
        #append to new list
        df_col_int.append(item)
    # return the new list
    return df_col_int

In [8]:
def clean_data(marathon_df):
    # look at all column labels/names
    marathon_df.columns
    
    # remove any unnecessary columns
    try:
        marathon_df=marathon_df.drop(labels=["Unnamed: 0", "Citizen", "Unnamed: 9", "Half", "Proj Time", "Overall", "Gender", "Division"], axis=1)
    except KeyError: 
        marathon_df=marathon_df.drop(labels=["Citizen", "Unnamed: 8", "Half", "Proj Time", "Overall", "Gender", "Division"], axis=1)
    
    # check dataframe data types
    marathon_df.dtypes
    
    # set the index as bib number, then drop bib column
    marathon_df=marathon_df.set_index("Bib", drop=True)
    
    # convert 5K, 10K, 15K, 20K, 25K, 30K, 35K, 40K, Official Time columns to datetime
    # The unit for these columns is just time hh:mm:ss
    
    marathon_df["5K"]=to_time(marathon_df["5K"])
    marathon_df["10K"]=to_time(marathon_df["10K"])
    marathon_df["15K"]=to_time(marathon_df["15K"])
    marathon_df["20K"]=to_time(marathon_df["20K"])
    marathon_df["25K"]=to_time(marathon_df["25K"])
    marathon_df["30K"]=to_time(marathon_df["30K"])
    marathon_df["35K"]=to_time(marathon_df["35K"])
    marathon_df["40K"]=to_time(marathon_df["40K"])
    marathon_df["Official Time"]=to_time(marathon_df["Official Time"])
    
    # convert Pace column from mm:ss to minutes only, rounded to 2 decimal places
    # unit is minutes/Kilometer, for overall race
    marathon_df["Pace"]=to_minutes(marathon_df["Pace"])
    
    # Remove rows where there is a "-" value

    for index in marathon_df.index:

        # check each relavent column. if value is -, then delete entire row.

        if marathon_df.loc[index, "5K"] == "-":
            marathon_df=marathon_df.drop(index, axis=0)
        elif marathon_df.loc[index, "10K"] == "-":
            marathon_df=marathon_df.drop(index, axis=0)
        elif marathon_df.loc[index, "15K"] == "-":
            marathon_df=marathon_df.drop(index, axis=0)
        elif marathon_df.loc[index, "20K"] == "-":
            marathon_df=marathon_df.drop(index, axis=0)
        elif marathon_df.loc[index, "25K"] == "-":
            marathon_df=marathon_df.drop(index, axis=0)
        elif marathon_df.loc[index, "30K"] == "-":
            marathon_df=marathon_df.drop(index, axis=0)
        elif marathon_df.loc[index, "35K"] == "-":
            marathon_df=marathon_df.drop(index, axis=0)
        elif marathon_df.loc[index, "40K"] == "-":
            marathon_df=marathon_df.drop(index, axis=0)
        elif marathon_df.loc[index, "Pace"] == "-":
            marathon_df=marathon_df.drop(index, axis=0)
        elif marathon_df.loc[index, "Official Time"] == "-":
            marathon_df=marathon_df.drop(index, axis=0)
    

    return marathon_df

In [9]:
# using the functions above, clean the datasets
marathon_2015_clean = clean_data(marathon_2015_df)
marathon_2015_clean

,Name,Age,M/F,City,State,Country,5K,10K,15K,20K,25K,30K,35K,40K,Pace,Official Time
Bib,,,,,,,,,,,,,,,,
3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,2015-04-20 00:14:43,2015-04-20 00:29:43,2015-04-20 00:44:57,2015-04-20 01:00:29,2015-04-20 01:16:07,2015-04-20 01:32:00,2015-04-20 01:47:59,2015-04-20 02:02:39,4.93,2015-04-20 02:09:17
4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,2015-04-20 00:14:43,2015-04-20 00:29:43,2015-04-20 00:44:58,2015-04-20 01:00:28,2015-04-20 01:16:07,2015-04-20 01:31:59,2015-04-20 01:47:59,2015-04-20 02:02:42,4.97,2015-04-20 02:09:48
8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,2015-04-20 00:14:43,2015-04-20 00:29:43,2015-04-20 00:44:57,2015-04-20 01:00:29,2015-04-20 01:16:07,2015-04-20 01:32:00,2015-04-20 01:47:59,2015-04-20 02:03:01,4.98,2015-04-20 02:10:22
11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,2015-04-20 00:14:43,2015-04-20 00:29:44,2015-04-20 00:45:01,2015-04-20 01:00:29,2015-04-20 01:16:07,2015-04-20 01:32:00,2015-04-20 01:48:03,2015-04-20 02:03:47,5.00,2015-04-20 02:10:47
10,"Korir, Wesley",32,M,Kitale,NaN,KEN,2015-04-20 00:14:43,2015-04-20 00:29:44,2015-04-20 00:44:58,2015-04-20 01:00:28,2015-04-20 01:16:07,2015-04-20 01:32:00,2015-04-20 01:47:59,2015-04-20 02:03:27,5.00,2015-04-20 02:10:49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25656,"Prescott, Francine J.",64,F,Boynton Beach,FL,USA,2015-04-20 00:50:15,2015-04-20 01:43:31,2015-04-20 02:36:53,2015-04-20 03:32:26,2015-04-20 04:25:53,2015-04-20 05:19:44,2015-04-20 06:17:19,2015-04-20 07:13:34,17.52,2015-04-20 07:38:56
31359,"Emerson, Annette C.",61,F,Old Town,ME,USA,2015-04-20 00:48:36,2015-04-20 01:39:39,2015-04-20 02:39:13,2015-04-20 03:35:58,2015-04-20 04:32:44,2015-04-20 05:31:58,2015-04-20 06:28:56,2015-04-20 07:26:19,17.98,2015-04-20 07:51:30
25559,"Cerveny, Nona",66,F,Scottsdale,AZ,USA,2015-04-20 00:53:03,2015-04-20 01:47:16,2015-04-20 02:41:45,2015-04-20 03:37:07,2015-04-20 04:33:51,2015-04-20 05:38:56,2015-04-20 06:38:51,2015-04-20 07:36:18,18.30,2015-04-20 07:59:33
29396,"Buccilli, Alfred P.",53,M,Lynnfield,MA,USA,2015-04-20 00:49:04,2015-04-20 01:40:12,2015-04-20 02:33:31,2015-04-20 03:31:41,2015-04-20 04:29:20,2015-04-20 05:31:11,2015-04-20 06:33:35,2015-04-20 07:35:38,18.33,2015-04-20 08:00:37
25651,"Reilly, William",62,M,Kew Garden,NY,USA,2015-04-20 00:40:14,2015-04-20 01:28:18,2015-04-20 02:26:46,2015-04-20 03:28:41,2015-04-20 04:36:06,2015-04-20 05:43:44,2015-04-20 06:51:31,2015-04-20 07:41:28,18.55,2015-04-20 08:06:01

In [10]:
marathon_2016_clean = clean_data(marathon_2016_df)
marathon_2016_clean

,Name,Age,M/F,City,State,Country,5K,10K,15K,20K,25K,30K,35K,40K,Pace,Official Time
Bib,,,,,,,,,,,,,,,,
5,"Hayle, Lemi Berhanu",21,M,Addis Ababa,NaN,ETH,2015-04-20 00:15:47,2015-04-20 00:31:20,2015-04-20 00:47:07,2015-04-20 01:03:14,2015-04-20 01:19:15,2015-04-20 01:34:17,2015-04-20 01:50:24,2015-04-20 02:05:59,5.07,2015-04-20 02:12:45
1,"Desisa, Lelisa",26,M,Ambo,NaN,ETH,2015-04-20 00:15:47,2015-04-20 00:31:21,2015-04-20 00:47:08,2015-04-20 01:03:14,2015-04-20 01:19:15,2015-04-20 01:34:17,2015-04-20 01:50:24,2015-04-20 02:05:59,5.10,2015-04-20 02:13:32
6,"Tsegay, Yemane Adhane",31,M,Addis Ababa,NaN,ETH,2015-04-20 00:15:46,2015-04-20 00:31:20,2015-04-20 00:47:07,2015-04-20 01:03:13,2015-04-20 01:19:15,2015-04-20 01:34:45,2015-04-20 01:50:48,2015-04-20 02:06:47,5.12,2015-04-20 02:14:02
11,"Korir, Wesley",33,M,Kitale,NaN,KEN,2015-04-20 00:15:46,2015-04-20 00:31:21,2015-04-20 00:47:07,2015-04-20 01:03:14,2015-04-20 01:19:16,2015-04-20 01:34:45,2015-04-20 01:50:48,2015-04-20 02:06:47,5.12,2015-04-20 02:14:05
14,"Lonyangata, Paul",23,M,Eldoret,NaN,KEN,2015-04-20 00:15:46,2015-04-20 00:31:21,2015-04-20 00:47:08,2015-04-20 01:03:14,2015-04-20 01:19:18,2015-04-20 01:34:46,2015-04-20 01:51:30,2015-04-20 02:08:11,5.18,2015-04-20 02:15:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26144,"Foulds, Rhonda L.",52,F,Justin,TX,USA,2015-04-20 00:37:50,2015-04-20 01:21:10,2015-04-20 02:04:58,2015-04-20 02:59:33,2015-04-20 03:55:16,2015-04-20 04:52:13,2015-04-20 05:45:43,2015-04-20 06:36:56,15.98,2015-04-20 06:58:53
4358,"Hall, Steven J",43,M,Yardley,PA,USA,2015-04-20 00:20:58,2015-04-20 00:41:41,2015-04-20 01:02:29,2015-04-20 01:23:34,2015-04-20 01:45:00,2015-04-20 02:07:21,2015-04-20 02:31:21,2015-04-20 06:54:20,16.88,2015-04-20 07:22:23
26218,"Marseilles, Jami E.",47,F,Huntington Beach,CA,USA,2015-04-20 00:47:04,2015-04-20 01:32:02,2015-04-20 02:28:50,2015-04-20 03:28:28,2015-04-20 04:27:33,2015-04-20 05:24:12,2015-04-20 06:29:21,2015-04-20 07:25:15,17.85,2015-04-20 07:47:56
29403,"Ganem, William J.",39,M,Reedsburg,WI,USA,2015-04-20 00:42:22,2015-04-20 01:29:49,2015-04-20 02:23:49,2015-04-20 03:24:54,2015-04-20 04:25:53,2015-04-20 05:29:27,2015-04-20 06:42:04,2015-04-20 07:54:21,19.22,2015-04-20 08:23:27
30690,"Farler, Daryl R.",35,M,Franklin,TN,USA,2015-04-20 00:35:58,2015-04-20 01:15:09,2015-04-20 01:58:09,2015-04-20 02:49:15,2015-04-20 04:07:15,2015-04-20 05:27:59,2015-04-20 06:49:51,2015-04-20 07:59:12,19.28,2015-04-20 08:25:09

In [11]:
marathon_2017_clean = clean_data(marathon_2017_df)
marathon_2017_clean

,Name,Age,M/F,City,State,Country,5K,10K,15K,20K,25K,30K,35K,40K,Pace,Official Time
Bib,,,,,,,,,,,,,,,,
11,"Kirui, Geoffrey",24,M,Keringet,NaN,KEN,2015-04-20 00:15:25,2015-04-20 00:30:28,2015-04-20 00:45:44,2015-04-20 01:01:15,2015-04-20 01:16:59,2015-04-20 01:33:01,2015-04-20 01:48:19,2015-04-20 02:02:53,4.95,2015-04-20 02:09:37
17,"Rupp, Galen",30,M,Portland,OR,USA,2015-04-20 00:15:24,2015-04-20 00:30:27,2015-04-20 00:45:44,2015-04-20 01:01:15,2015-04-20 01:16:59,2015-04-20 01:33:01,2015-04-20 01:48:19,2015-04-20 02:03:14,4.97,2015-04-20 02:09:58
23,"Osako, Suguru",25,M,Machida-City,NaN,JPN,2015-04-20 00:15:25,2015-04-20 00:30:29,2015-04-20 00:45:44,2015-04-20 01:01:16,2015-04-20 01:17:00,2015-04-20 01:33:01,2015-04-20 01:48:31,2015-04-20 02:03:38,4.98,2015-04-20 02:10:28
21,"Biwott, Shadrack",32,M,Mammoth Lakes,CA,USA,2015-04-20 00:15:25,2015-04-20 00:30:29,2015-04-20 00:45:44,2015-04-20 01:01:19,2015-04-20 01:17:00,2015-04-20 01:33:01,2015-04-20 01:48:58,2015-04-20 02:04:35,5.05,2015-04-20 02:12:08
9,"Chebet, Wilson",31,M,Marakwet,NaN,KEN,2015-04-20 00:15:25,2015-04-20 00:30:28,2015-04-20 00:45:44,2015-04-20 01:01:15,2015-04-20 01:16:59,2015-04-20 01:33:01,2015-04-20 01:48:41,2015-04-20 02:05:00,5.07,2015-04-20 02:12:35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25141,"Quinn, Adam H.",19,M,Belmont,MI,USA,2015-04-20 00:35:14,2015-04-20 01:10:33,2015-04-20 01:47:50,2015-04-20 02:33:58,2015-04-20 04:01:11,2015-04-20 04:42:59,2015-04-20 05:33:15,2015-04-20 06:42:51,16.20,2015-04-20 07:04:33
25166,"Steinbach, Paula Eyvonne",61,F,Ontario,CA,USA,2015-04-20 00:46:44,2015-04-20 01:35:41,2015-04-20 02:23:35,2015-04-20 03:12:44,2015-04-20 04:12:06,2015-04-20 05:03:08,2015-04-20 05:55:18,2015-04-20 06:46:57,16.40,2015-04-20 07:09:39
25178,"Avelino, Andrew R.",25,M,Fayetteville,NC,USA,2015-04-20 00:32:03,2015-04-20 01:05:33,2015-04-20 01:52:17,2015-04-20 02:49:41,2015-04-20 03:50:19,2015-04-20 04:50:01,2015-04-20 05:53:48,2015-04-20 06:54:21,16.67,2015-04-20 07:16:59
25268,"Reilly, Bill",64,M,New York,NY,USA,2015-04-20 00:40:34,2015-04-20 01:27:19,2015-04-20 02:17:17,2015-04-20 03:11:40,2015-04-20 04:06:10,2015-04-20 05:07:09,2015-04-20 06:06:07,2015-04-20 06:56:08,16.82,2015-04-20 07:20:44
25266,"Rigsby, Scott",48,M,Alpharetta,GA,USA,2015-04-20 00:39:36,2015-04-20 01:17:12,2015-04-20 02:00:10,2015-04-20 02:58:55,2015-04-20 04:27:14,2015-04-20 05:37:13,2015-04-20 06:39:07,2015-04-20 07:41:23,18.25,2015-04-20 07:58:14

In [17]:
# export cleaned datasets to a new folder
output_path = "Resources/Cleaned_CSV_files/"
marathon_2015_clean.to_csv(f"{output_path}marathon_results_2015_clean.csv", index=True)
marathon_2016_clean.to_csv(f"{output_path}marathon_results_2016_clean.csv", index=True)
marathon_2017_clean.to_csv(f"{output_path}marathon_results_2017_clean.csv", index=True)