In [2]:
# import dependency
import pandas as pd

from sqlalchemy import create_engine
from config import db_password

In [3]:
# make connection string for database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/bonkers"

# create the database engine
engine = create_engine(db_string)

In [4]:
# create a query to select all rows from the table we want to make a dataframe for
query="SELECT * FROM marathon_2015_paces"

# make the datafram for the table
bonkers_clean_df = pd.read_sql_query(query, con=engine)
bonkers_clean_df

,Bib,Name,Age,M/F,City,State,Country,Pace (0-5K),Pace (5-10K),Pace (10-15K),Pace (15-20K),Pace (20-25K),Pace (25-30K),Pace (30-35K),Pace (35-40K),Overall Pace
0,3,"Desisa, Lelisa",25,M,Ambo,None,ETH,2.94,3.00,3.05,3.11,3.13,3.18,3.20,2.93,4.93
1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,None,ETH,2.94,3.00,3.05,3.10,3.13,3.17,3.20,2.94,4.97
2,8,"Chebet, Wilson",29,M,Marakwet,None,KEN,2.94,3.00,3.05,3.11,3.13,3.18,3.20,3.01,4.98
3,11,"Kipyego, Bernard",28,M,Eldoret,None,KEN,2.94,3.00,3.06,3.09,3.13,3.18,3.21,3.15,5.00
4,10,"Korir, Wesley",32,M,Kitale,None,KEN,2.94,3.00,3.05,3.10,3.13,3.18,3.20,3.09,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26299,25656,"Prescott, Francine J.",64,F,Boynton Beach,FL,USA,10.05,10.65,10.67,11.11,10.69,10.77,11.52,11.25,17.52
26300,31359,"Emerson, Annette C.",61,F,Old Town,ME,USA,9.72,10.21,11.91,11.35,11.35,11.85,11.39,11.48,17.98
26301,25559,"Cerveny, Nona",66,F,Scottsdale,AZ,USA,10.61,10.84,10.90,11.07,11.35,13.02,11.98,11.49,18.30
26302,29396,"Buccilli, Alfred P.",53,M,Lynnfield,MA,USA,9.81,10.23,10.66,11.63,11.53,12.37,12.48,12.41,18.33
26303,25651,"Reilly, William",62,M,Kew Garden,NY,USA,8.05,9.61,11.69,12.38,13.48,13.53,13.56,9.99,18.55

In [5]:
def calculate_bonk_column(df):
    # extract 30 to 35K pace range
    pace_30to35K=df["Pace (30-35K)"]
    
    # extract the 20-25K and 25-30K pace ranges
    pace_20to25K=df["Pace (20-25K)"]
    pace_25to30K=df["Pace (25-30K)"]
    
    # calculate the average pace from 20-25K and 25-30K
    pace_20to30_avg=(pace_20to25K + pace_25to30K)/2
    
    # calculate the percent difference between pace 20-30K and pace 30-35K
    pace_ratio=pace_20to30_avg/pace_30to35K
    pace_difference=pace_ratio-1
    
    # note: if number is negative, then pace (20-30K) was smaller (faster) than (30-35K) slowed down
    # positive number means runner sped up. the actual number is the pace at which the runner sped up/slowed down.
    
    # if number was less than -0.10, then bonked.
    bonk=[]
    for difference in pace_difference:
        if difference <= -0.1:
            bonk.append(1)
        else:
            bonk.append(0)
            
    # convert list to dataframe, make bib a column as well for identification

    bib=bonkers_clean_df["Bib"]

    bonk_df=pd.DataFrame({
            "Bib": bib,
            "Calculated Bonk":bonk})
    bonk_df
    
    # extract the bib number from bonkers_clean_df and make index for bonk_df
    bonk_df=bonk_df.set_index("Bib")
    
    # return the bonk_df
    return bonk_df

In [6]:
bonk_2015_df=calculate_bonk_column(bonkers_clean_df)
bonk_2015_df

       Calculated Bonk
Bib
3                    0
4                    0
8                    0
11                   0
10                   0
...                ...
25656                0
31359                0
25559                0
29396                0
25651                0

[26304 rows x 1 columns]

In [7]:
# save the bonk column/table to database
bonk_2015_df.to_sql(name="calculated_bonk_2015", con=engine)

NameError: name 'bonk_df' is not defined

In [8]:
# check how many bonks
sum(bonk_2015_df["Calculated Bonk"])

3322