In [109]:
# import dependencies
import pandas as pd
from datetime import datetime as dt
import time

In [62]:
# read in csv files

file_path = "Resources/marathon_results_2015.csv"
marathon_2015_df = pd.read_csv(file_path)
marathon_2015_df

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1
1,1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2
2,2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3
3,3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4
4,4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26593,26593,25656,"Prescott, Francine J.",64,F,Boynton Beach,FL,USA,NaN,MI,...,4:25:53,5:19:44,6:17:19,7:13:34,0:17:31,-,7:38:56,26594,12015,269
26594,26594,31359,"Emerson, Annette C.",61,F,Old Town,ME,USA,NaN,NaN,...,4:32:44,5:31:58,6:28:56,7:26:19,0:17:59,-,7:51:30,26595,12016,270
26595,26595,25559,"Cerveny, Nona",66,F,Scottsdale,AZ,USA,NaN,NaN,...,4:33:51,5:38:56,6:38:51,7:36:18,0:18:18,-,7:59:33,26596,12017,91
26596,26596,29396,"Buccilli, Alfred P.",53,M,Lynnfield,MA,USA,NaN,NaN,...,4:29:20,5:31:11,6:33:35,7:35:38,0:18:20,-,8:00:37,26597,14580,2055
26597,26597,25651,"Reilly, William",62,M,Kew Garden,NY,USA,NaN,MI,...,4:36:06,5:43:44,6:51:31,7:41:28,0:18:33,-,8:06:01,26598,14581,898

In [63]:
# look at all column labels/names
marathon_2015_df.columns

Index(['Unnamed: 0', 'Bib', 'Name', 'Age', 'M/F', 'City', 'State', 'Country',
       'Citizen', 'Unnamed: 9', '5K', '10K', '15K', '20K', 'Half', '25K',
       '30K', '35K', '40K', 'Pace', 'Proj Time', 'Official Time', 'Overall',
       'Gender', 'Division'],
      dtype='object')

In [64]:
# clean dataframe

# remove any unnecessary columns
marathon_2015_df=marathon_2015_df.drop(labels=["Unnamed: 0", "Citizen", "Unnamed: 9", "Half", "Proj Time", "Overall", "Gender", "Division"], axis=1)
marathon_2015_df

,Bib,Name,Age,M/F,City,State,Country,5K,10K,15K,20K,25K,30K,35K,40K,Pace,Official Time
0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,0:14:43,0:29:43,0:44:57,1:00:29,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,2:09:17
1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,0:14:43,0:29:43,0:44:58,1:00:28,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,2:09:48
2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,0:14:43,0:29:43,0:44:57,1:00:29,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,2:10:22
3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,0:14:43,0:29:44,0:45:01,1:00:29,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,2:10:47
4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,0:14:43,0:29:44,0:44:58,1:00:28,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,2:10:49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26593,25656,"Prescott, Francine J.",64,F,Boynton Beach,FL,USA,0:50:15,1:43:31,2:36:53,3:32:26,4:25:53,5:19:44,6:17:19,7:13:34,0:17:31,7:38:56
26594,31359,"Emerson, Annette C.",61,F,Old Town,ME,USA,0:48:36,1:39:39,2:39:13,3:35:58,4:32:44,5:31:58,6:28:56,7:26:19,0:17:59,7:51:30
26595,25559,"Cerveny, Nona",66,F,Scottsdale,AZ,USA,0:53:03,1:47:16,2:41:45,3:37:07,4:33:51,5:38:56,6:38:51,7:36:18,0:18:18,7:59:33
26596,29396,"Buccilli, Alfred P.",53,M,Lynnfield,MA,USA,0:49:04,1:40:12,2:33:31,3:31:41,4:29:20,5:31:11,6:33:35,7:35:38,0:18:20,8:00:37
26597,25651,"Reilly, William",62,M,Kew Garden,NY,USA,0:40:14,1:28:18,2:26:46,3:28:41,4:36:06,5:43:44,6:51:31,7:41:28,0:18:33,8:06:01

In [65]:
# By inspecting dataset, it is seen "-" represents a null value

# Remove rows where there is a null value, - 

for index in marathon_2015_df.index:
    
    # check each relavent column. if value is -, then delete entire row.
    
    if marathon_2015_df.loc[index, "5K"] == "-":
        marathon_2015_df=marathon_2015_df.drop(index, axis=0)
    elif marathon_2015_df.loc[index, "10K"] == "-":
        marathon_2015_df=marathon_2015_df.drop(index, axis=0)
    elif marathon_2015_df.loc[index, "15K"] == "-":
        marathon_2015_df=marathon_2015_df.drop(index, axis=0)
    elif marathon_2015_df.loc[index, "20K"] == "-":
        marathon_2015_df=marathon_2015_df.drop(index, axis=0)
    elif marathon_2015_df.loc[index, "25K"] == "-":
        marathon_2015_df=marathon_2015_df.drop(index, axis=0)
    elif marathon_2015_df.loc[index, "30K"] == "-":
        marathon_2015_df=marathon_2015_df.drop(index, axis=0)
    elif marathon_2015_df.loc[index, "35K"] == "-":
        marathon_2015_df=marathon_2015_df.drop(index, axis=0)
    elif marathon_2015_df.loc[index, "40K"] == "-":
        marathon_2015_df=marathon_2015_df.drop(index, axis=0)
    elif marathon_2015_df.loc[index, "Pace"] == "-":
        marathon_2015_df=marathon_2015_df.drop(index, axis=0)
    elif marathon_2015_df.loc[index, "Official Time"] == "-":
        marathon_2015_df=marathon_2015_df.drop(index, axis=0)
        
marathon_2015_df

,Bib,Name,Age,M/F,City,State,Country,5K,10K,15K,20K,25K,30K,35K,40K,Pace,Official Time
0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,0:14:43,0:29:43,0:44:57,1:00:29,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,2:09:17
1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,0:14:43,0:29:43,0:44:58,1:00:28,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,2:09:48
2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,0:14:43,0:29:43,0:44:57,1:00:29,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,2:10:22
3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,0:14:43,0:29:44,0:45:01,1:00:29,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,2:10:47
4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,0:14:43,0:29:44,0:44:58,1:00:28,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,2:10:49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26593,25656,"Prescott, Francine J.",64,F,Boynton Beach,FL,USA,0:50:15,1:43:31,2:36:53,3:32:26,4:25:53,5:19:44,6:17:19,7:13:34,0:17:31,7:38:56
26594,31359,"Emerson, Annette C.",61,F,Old Town,ME,USA,0:48:36,1:39:39,2:39:13,3:35:58,4:32:44,5:31:58,6:28:56,7:26:19,0:17:59,7:51:30
26595,25559,"Cerveny, Nona",66,F,Scottsdale,AZ,USA,0:53:03,1:47:16,2:41:45,3:37:07,4:33:51,5:38:56,6:38:51,7:36:18,0:18:18,7:59:33
26596,29396,"Buccilli, Alfred P.",53,M,Lynnfield,MA,USA,0:49:04,1:40:12,2:33:31,3:31:41,4:29:20,5:31:11,6:33:35,7:35:38,0:18:20,8:00:37
26597,25651,"Reilly, William",62,M,Kew Garden,NY,USA,0:40:14,1:28:18,2:26:46,3:28:41,4:36:06,5:43:44,6:51:31,7:41:28,0:18:33,8:06:01

In [66]:
# check dataframe data types
marathon_2015_df.dtypes

Bib              object
Name             object
Age               int64
M/F              object
City             object
State            object
Country          object
5K               object
10K              object
15K              object
20K              object
25K              object
30K              object
35K              object
40K              object
Pace             object
Official Time    object
dtype: object

In [143]:
# function to convert columns from string to datetime

def to_time(df_col):
    # for each item in the column, append yymmdd, to string, then convert to datetime
    time_df_col=[]
    yymmdd='04/20/15'
    for item in df_col:
        # add the yymmdd to the hhmmss string
        full_date=f"{yymmdd} {item}"
        
        # convert to datetime, then append to the time_df_col
        time_df_col.append(datetime.strptime(full_date, '%m/%d/%y %H:%M:%S'))
        
    # return the converted column
    return time_df_col

'00:14:43'

In [149]:
# convert columns to datetime
marathon_2015_df["5K"]=to_time(marathon_2015_df["5K"])
marathon_2015_df["5K"]

ValueError: time data '04/20/15 2015-04-20 00:14:43' does not match format '%m/%d/%y %H:%M:%S'

In [150]:
marathon_2015_df["5K"]

0       2015-04-20 00:14:43
1       2015-04-20 00:14:43
2       2015-04-20 00:14:43
3       2015-04-20 00:14:43
4       2015-04-20 00:14:43
                ...
26593   2015-04-20 00:50:15
26594   2015-04-20 00:48:36
26595   2015-04-20 00:53:03
26596   2015-04-20 00:49:04
26597   2015-04-20 00:40:14
Name: 5K, Length: 26305, dtype: datetime64[ns]

In [106]:
marathon_2015_df["5K"][1] - marathon_2015_df["5K"][1]

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [131]:
from datetime import datetime

datetime_str = '09/19/18 13:55:26'

datetime_object = datetime.strptime(datetime_str, '%m/%d/%y %H:%M:%S')

print(type(datetime_object))
print(datetime_object)  # printed in default format

<class 'datetime.datetime'>
2018-09-19 13:55:26

str